<div class="row">
    {{#each patients}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>{{name}}</h4>
                </div>
            </div>
        </div>
    {{/each}}
</div>