 <footer>
    <div class="container-fliud">
    <div class=" text-center ">
      <div class="card-title row row-cols-sm-1 row-cols-lg-3 d-sm-flex bg-danger texto-footer">
          <h5 class="text-lg-end fs-3 align-self-end"> 
            Numero de Emergencias
           </h5>
          <a href="tel://5555606899" class="fs-3 fw-normal text-reset text-decoration-none"> 
            55 5560-6899 
          </a>
          <a href="tel://5555606999" class="fs-3 fw-normal text-decoration-none text-reset text-md-start">
            55 5560-6999
          </a>
      </div>
      <div class="">
          <h5 class="card-footer d-flex  justify-content-center  ">
            <img src="/images/hospital.svg" alt="" width="25" height="25">
            <span class="px-3 align-self-end text-danger" > Cruz Roja Mexicana Delegación Naucalpan </span>
          </h5>
          <p class="card-title">Av. Corona #1, Col. Los Remedios Naucalpan de Juárez, Estado de México
            C.P. 53000
          </p>
          <p class="fs-6">© CRUZ ROJA MEXICANA DELEGACION NAUCALPAN</p>
      </div>
      
    </div>
  </div>
  
  </footer>