<header>
    <!-- header -->
    <div class="baner-alerta">
        <ul class="alertas"> 
            <li class="contenido-actual">
                <a href="./index.html"> NO SOMOS HOSPITAL COVID </a>
            </li>
        </ul>
    </div>    
    <section class="container contenedorarriba"> <!-- imagen cruz roja -->
      <div class="alineacion-vertical">
         <div class="logo-cruz">
                <picture class="logo-principal">
                  <a href="./index.html">
                  <img src="/images/logo.png" media="(max-width: 38px)">
                  <!-- <source src="./images/logo.png">   -->
                  </a>
                </picture>
              </div> <!-- fin imagen cruz roja -->
          <div class="header-links"> <!-- Contenedor de los dos menus -->
            <div class="col-md-12 header-links1"> <!-- Contenedor 1 parte superior -->
              <ul class="list-inline pull-derecha navegacion-top subrayado py-2" >
                <li>
                  <a href="./contacto.html" class="text-decoration-none text-reset textosNavegacion px-4"> Contacto </a>
                </li>
                <li>
                  <a href="/carteraServicios.html" class="text-decoration-none text-reset textosNavegacion px-4"> Nuestros Servicios </a>
                </li>
                <li>
                  <a href="./nosotros.html" class="text-decoration-none text-reset textosNavegacion px-4"> Conocenos </a>
                </li>
                <li>
                  <a href="./donaciones.html" class="text-decoration-none text-reset textosNavegacion px-4"> Portal Medico </a>
                </li>
              </ul>
          </div>
          
          <div class="col-md-12 d-flex justify-content-end header-links2"> <!-- Contenedor 2 inferior --> 
            <ul class="list-inline pull-derecha acciones-rapidas px-2">
              <li class="list-inline-item d-flex text-reset border border-1 rounded-3 border-danger  py-1">
                <a href="./index.html" target="self" class="d-flex px-2 text-decoration-none text-reset"> 
                   <img src="/images/donacion.svg" alt="estetoscopio" width="43" height="42">
                   <span class="align-self-center ">Ayudanos con una Donaci贸n</span>
                </a>
              </li>
              <li class="d-flex border border-1 rounded-3 border-danger py-1 ">
                <a href="./index.html" class="d-flex px-2 text-decoration-none text-reset">
                  <img src="/images/mapa.svg" alt="calendario" width="45" height="42">
                  <span class="align-self-center">Ubicanos</span>
                </a>
              </li>
            </ul>
          </div>
          </div>
  </div> 
</section>
    <!-- Parte logo y  -->
    <div class="desaparece-normal contenedorarriba2">
        <nav class="navbar navbar-expand-md navbar-light bg-danger"> <!-- navbar -->
            <div class="px-1 container-md d-md-flex flex-md-column col-md-auto col-sm-6 col-lg-auto img-nav">
                  <!-- menu sandwich -->
                  <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <img src="/images/logo.png" width="250" height="auto" class="px-3 align-self-start" > 
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav px-2 mb-1 mb-sm-0 py-3">
                    <li class="nav-item  margen-nav">
                        <a class=" active text-center texto-nav" aria-current="page" href="#"> Inicio </a>
                    </li>
                    <li class="nav-item  margen-nav">
                        <a class=" active  texto-nav" href="#">CREFI</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="active texto-nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Coordinaciones
                        </a>
                    <ul class="dropdown-menu border border border-danger rounded-end bg-danger items-dropdown" aria-labelledby="navbarDropdownMenuLink">
                      <li>
                          <a class="dropdown-item" href="#">Voluntariado</a>
                      </li>
                      <li>
                         <a class="dropdown-item" href="#">Socorros</a>
                      </li>
                      <li>
                         <a class="dropdown-item" href="#">Veteranos</a>
                      </li>
                      <li>
                         <a class="dropdown-item" href="#">Captacion de Fondos</a>
                      </li>
                      <li>
                          <a class="dropdown-item" href="#">Coordinacion de Juventud</a>
                      </li>
                      <li>
                          <a class="dropdown-item" href="#">Coordinacion de Capacitaci贸n</a>
                      </li>
                      <li>
                          <a class="dropdown-item" href="#">Coordinaci贸n de Prevenci贸n de Accidentes</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    
<!-- fin header -->
    </header>